@media (max-width: 1500px) {
  // hearer
  header {
    width: 1024px;
  }
  .Hero {
    width: 1024px;
    margin-bottom: 200px;
    .left-side {
      width: 100%;
      padding-right: 30px;
      align-items: center;

      .doctor-img {
        width: 100%;
      }
      &::before {
        content: "";
        width: 100%;
        height: 500px;
        top: 50%;
        transform: translateY(-50%);
      }

      .clients {
        width: 400px;
        left: 50%;
        top: 77%;
        transform: translateX(-50%);
      }
    }
    .content {
      h1 {
        font-size: 56px;
      }
    }
  }

  // Who We Are section
  .WhoWeAre {
    width: 1024px;
    margin-bottom: 200px;

    .decor {
      width: 600px;
    }
    .content {
      h3 {
        font-size: 20px;
        &::after {
          content: "";

          width: 83%;
        }
      }
      .des {
        font-size: 24px;
      }
      .boxes {
        .box {
          div {
            .title {
              font-size: 16px;
            }
            .paragraph {
              font-size: 14px;
            }
          }
          .icon {
            svg {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  // What We Do section
  .WhatWeDo {
    width: 1024px;
    margin-bottom: 200px;
    .content {
      h4 {
        font-size: 40px;
      }
    }
    .decor {
      width: 600px;
    }
  }

  // How It Works section
  .HowItWorks {
    width: 1024px;
    margin-bottom: 200px;

    h4 {
      font-size: 40px;
    }
  }

  // FAQ section
  .FAQ {
    width: 1024px;
    margin-bottom: 200px;
    h4 {
      font-size: 40px;
    }
  }

  // Contact Us section

  .ContactUs {
    width: 1024px;
    margin-bottom: 200px;

    .right-side {
      width: 450px;
      height: 450px;
      img {
        width: 400px;
      }
      &::before {
        content: "";
        width: 300px;
        height: 300px;
        right: 0;
        top: -50px;
      }
      .phone {
        top: 80%;
      }
    }
    .contact_form {
      form {
        input,
        textarea {
          width: 500px;
        }
      }
    }
  }

  footer {
    width: 1024px;
  }
}
