@media (max-width: 580px) {
  // hearer
  header {
    width: 95%;
    height: 80px;

    img {
      width: 100px;
    }
    nav {
      display: none;
    }

    button {
      padding: 8px 16px;
      font-size: 12px;
      gap: 8px;
      span {
        display: inline-block;
      }
    }
  }
  .Hero {
    width: 95%;
    margin-bottom: 120px;
    flex-direction: column-reverse;
    align-items: end;
    padding-top: 24px;

    .decor {
      top: 400px;
      width: 600px;
      z-index: -2;
    }
    .left-side {
      position: static;
      width: 100%;
      padding-right: 30px;
      align-items: end;

      .doctor-img {
        width: fit-content;
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: -40%;
      }

      &::before {
        content: "";

        width: 75%;
        height: 350px;
        top: 100%;
        left: -20%;
        transform: translateY(-100%);
      }

      .clients {
        display: none;
        width: 250px;
        left: 55%;
        top: 67%;
        padding: 16px;

        .icon {
          svg {
            font-size: 28px;
          }
        }
        .texts {
          .num {
            font-size: 20px;
            font-weight: 700;
          }
          .title {
            font-size: 14px;
            color: rgb(31, 31, 31);
          }
        }
      }
    }
    .content {
      min-width: 100%;
      h1 {
        font-size: 40px;
        margin-bottom: 24px;
      }
      p {
        width: 190px;
        font-size: 16px;
      }
      button {
        padding: 16px 32px;
        font-size: 16px;
        border: none;
      }
    }
  }

  // Who We Are section
  .WhoWeAre {
    width: 90%;
    margin-bottom: 120px;
    flex-direction: column;

    .decor {
      width: 600px;
      top: 175vh;
    }

    .image {
      width: 100%;
    }
    .content {
      h3 {
        font-size: 20px;
        &::after {
          content: "";
          width: 85%;
        }
      }
      .des {
        font-size: 24px;
      }
      .boxes {
        flex-direction: column;
        align-items: start;

        .box {
          div {
            .title {
              font-size: 16px;
            }
            .paragraph {
              font-size: 14px;
            }
          }
          .icon {
            svg {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  // What We Do section
  .WhatWeDo {
    width: 90%;
    margin-bottom: 120px;

    .content {
      h4 {
        font-size: 32px;
      }
      h5 {
        font-size: 20px;
      }
      .WhatWeDoCards {
        display: flex;
        flex-direction: column;
      }
    }
    .decor {
      width: 600px;
      top: 280vh;
    }
  }

  // How It Works section
  .HowItWorks {
    width: 90%;
    margin-bottom: 120px;

    h4 {
      font-size: 32px;
    }
    h5 {
      font-size: 20px;
    }
    .steps {
      margin-top: 140px;
      gap: 160px;
      .step {
        flex-direction: column;
        gap: 24px;
        .content {
          width: 100%;
          h6 {
            font-size: 28px;
            margin-bottom: 8px;
            font-weight: 600;
          }
          p {
            font-size: 20px;
          }
          button {
            font-size: 20px;
          }
        }
        &:nth-child(1) {
          .vectors {
            &::before {
              content: "";
              width: 300px;
              height: 300px;
            }
            img {
              width: 400px;
            }
          }
        }
        &:nth-child(2) {
          flex-direction: column;
          .vectors {
            &::before {
              content: "";
              width: 300px;
              height: 300px;
            }

            img {
              width: 350px;
            }
          }
        }
        &:nth-child(3) {
          .vectors {
            &::before {
              content: "";
              width: 300px;
              height: 300px;
            }

            img {
              width: 400px;
            }
          }
        }
      }
    }
  }

  // FAQ section
  .FAQ {
    width: 90%;
    margin-bottom: 160px;
    h4 {
      font-size: 32px;
    }
    .Questions {
      width: 100%;
      .question {
        button {
          font-size: 20px;
          padding: 24px;
        }
      }
    }
  }

  // Contact Us section

  .ContactUs {
    width: 90%;
    margin-bottom: 200px;

    .right-side {
      width: 450px;
      height: 450px;
      img {
        width: 400px;
      }
      &::before {
        content: "";
        width: 300px;
        height: 300px;
        right: 0;
        top: -50px;
      }
      .phone {
        top: 80%;
      }
    }
    .contact_form {
      form {
        input,
        textarea {
          width: 500px;
        }
      }
    }
  }

  footer {
    width: 90%;
  }
}
