@media (max-width: 1080px) {
  // hearer
  header {
    width: 780px;

    nav {
      ul {
        gap: 16px;
      }
    }

    button {
      padding: 16px;
      font-size: 24px;
      span {
        display: none;
      }
    }
  }
  .Hero {
    width: 780px;
    margin-bottom: 160px;

    .decor {
      top: 400px;
      width: 600px;
    }
    .left-side {
      width: 90%;
      padding-right: 30px;
      align-items: center;

      .doctor-img {
        width: 100%;
      }
      &::before {
        content: "";
        width: 100%;
        height: 433px;
        top: 50%;
        transform: translateY(-50%);
      }

      .clients {
        width: 250px;
        left: 75%;
        top: 67%;
        padding: 16px;

        .icon {
          svg {
            font-size: 28px;
          }
        }
        .texts {
          .num {
            font-size: 20px;
            font-weight: 700;
          }
          .title {
            font-size: 14px;
            color: rgb(31, 31, 31);
          }
        }
      }
    }
    .content {
      h1 {
        font-size: 40px;
        margin-bottom: 24px;
      }
      p {
        font-size: 20px;
      }
      button {
        font-size: 16px;
      }
    }
  }

  // Who We Are section
  .WhoWeAre {
    width: 780px;
    margin-bottom: 160px;
    flex-direction: column;

    .decor {
      width: 600px;
      top: 160vh;
    }

    .image {
      width: 100%;
    }
    .content {
      h3 {
        font-size: 20px;
        &::after {
          content: "";
          width: 88%;
        }
      }
      .des {
        font-size: 24px;
      }
      .boxes {
        .box {
          div {
            .title {
              font-size: 16px;
            }
            .paragraph {
              font-size: 14px;
            }
          }
          .icon {
            svg {
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  // What We Do section
  .WhatWeDo {
    width: 780px;
    margin-bottom: 160px;

    .content {
      h4 {
        font-size: 32px;
      }
      h5 {
        font-size: 20px;
      }
    }
    .decor {
      width: 600px;
    }
  }

  // How It Works section
  .HowItWorks {
    width: 780px;
    margin-bottom: 160px;

    h4 {
      font-size: 32px;
    }
    h5 {
      font-size: 20px;
    }
    .steps {
      .step {
        .content {
          width: 40%;
          h6 {
            font-size: 24px;
            font-weight: 600;
          }
          p {
            font-size: 16px;
          }
          button {
            font-size: 16px;
          }
        }
        &:nth-child(1) {
          .vectors {
            &::before {
              content: "";
              width: 300px;
              height: 300px;
            }
            img {
              width: 400px;
            }
          }
        }
        &:nth-child(2) {
          flex-direction: row-reverse;
          .vectors {
            &::before {
              content: "";
              width: 300px;
              height: 300px;
            }

            img {
              width: 350px;
            }
          }
        }
        &:nth-child(3) {
          .vectors {
            &::before {
              content: "";
              width: 300px;
              height: 300px;
            }

            img {
              width: 400px;
            }
          }
        }
      }
    }
  }

  // FAQ section
  .FAQ {
    width: 780px;
    margin-bottom: 160px;
    h4 {
      font-size: 32px;
    }
    .Questions {
      width: 100%;
      .question {
        button {
          font-size: 20px;
          padding: 24px;
        }
      }
    }
  }

  // Contact Us section

  .ContactUs {
    width: 780px;
    margin-bottom: 200px;

    .right-side {
      width: 450px;
      height: 450px;
      img {
        width: 400px;
      }
      &::before {
        content: "";
        width: 300px;
        height: 300px;
        right: 0;
        top: -50px;
      }
      .phone {
        top: 80%;
      }
    }
    .contact_form {
      form {
        input,
        textarea {
          width: 500px;
        }
      }
    }
  }

  footer {
    width: 780px;
  }
}
