.ContactUs {
  width: 1440px;
  margin: auto;
  margin-bottom: 240px;
  display: flex;
  align-items: end;
  justify-content: space-between;

  &::before {
    content: "";
    width: 300px;
    height: 500px;
    position: absolute;
    right: 300px;
    z-index: -1;
    background: var(--secondary-color);
    border-radius: 50%;
    filter: blur(250px);
  }

  .decor {
    position: absolute;
    left: 0;
    transform: scaleX(-1);
    z-index: -1;
  }

  .right-side {
    position: relative;
    height: 300px;
    width: 700px;
    border-radius: 1000px;
    background: var(--button-color);
    display: flex;
    align-items: end;
    justify-content: center;
    img {
      width: 500px;
    }

    &::before {
      content: "";
      width: 400px;
      height: 400px;
      background-color: #e4f5fd;
      position: absolute;
      border-radius: 50%;
      z-index: -2;
      top: -150px;
      left: 45px;
    }
    .phone {
      position: absolute;
      top: 75%;
      z-index: 1;
      right: 5%;
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 20px;
      padding: 16px 48px;
      background-color: var(--background-color);
      border-radius: 16px;
      box-shadow: 10px 10px 40px #d4f1ff;

      .icon {
        color: var(--primary-color);
        background-color: #e4f5fd;
        padding: 16px;
        border-radius: 8px;
        svg {
          font-size: 32px;
        }
      }
      .texts {
        .num {
          font-size: 20px;
          font-weight: 700;
        }
        .title {
          color: rgb(31, 31, 31);
        }
      }
    }
  }
  .texts {
    h4 {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 16px;
      span {
        color: var(--primary-color);
      }
    }
    h6 {
      font-size: 24px;
      font-family: "cairo-light";
      margin-bottom: 24px;
    }
  }

  .contact_form {
    form {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 32px;

      input,
      textarea {
        width: 700px;
        font-family: "cairo-light";
        padding: 16px;
        border-radius: 16px;
        font-size: 20px;
        background-color: var(--background-color);
        box-shadow: 0px 12px 55px rgba(0, 0, 0, 0.158);

        &:focus {
          outline: none;
        }
        &::placeholder {
          color: black;
        }
      }
      textarea {
        min-height: 150px;
      }

      button {
        width: 100%;
        font-size: 24px;
        padding: 16px;
        border-radius: 100px;
        color: var(--background-color);
        background: var(--button-color);
      }
    }
  }
}
