.FAQ {
  width: 1440px;
  margin: auto;
  margin-bottom: 360px;

  h4 {
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 64px;
  }

  .decor {
    position: absolute;
    right: 0;
    z-index: -1;
  }
  .Questions {
    width: 960px;
    margin: auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;

    .question {
      border-radius: 16px;
      width: 100%;
      box-shadow: 0px 12px 55px rgba(0, 0, 0, 0.096);
      transition: all 0.2s linear;

      &:hover {
        box-shadow: 0px 12px 55px rgba(0, 0, 0, 0.2);

        button {
          color: var(--primary-color);
        }
      }
      button {
        transition: all 0.2s linear;
        padding: 32px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
      }
      .answer {
        padding: 0px 32px 32px 32px;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
