.HowItWorks {
  width: 1440px;
  margin: auto;
  position: relative;
  margin-bottom: 240px;

  h4,
  h5 {
    opacity: 0;
    animation: fadeUpSoft 1.4s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% entry 35%;
  }
  h4 {
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
  }
  h5 {
    font-size: 24px;
    text-align: center;
    animation-range: entry 10% entry 45%;
  }
  .steps {
    margin-top: 184px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;

    .step {
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0;
      opacity: 0;
      opacity: 0;
      animation: fadeUpSoft 1.6s ease forwards;
      animation-timeline: view();
      animation-range: entry 0% entry 60%;

      .vectors {
        position: relative;

        img {
          opacity: 0;
          animation: fadeSideSoft 1.6s ease forwards;
          animation-timeline: view();
          animation-range: entry 0% entry 55%;
        }

        span {
          font-size: 120px;
          font-weight: 900;
          color: #d7d7d7;
          position: absolute;
          z-index: -1;
        }
      }

      &:nth-child(1) {
        animation-range: entry 0% entry 50%;
      }
      &:nth-child(2) {
        animation-range: entry 10% entry 60%;
      }
      &:nth-child(3) {
        animation-range: entry 20% entry 70%;
      }
      .content {
        width: 40%;
        h6 {
          font-size: 40px;
          font-weight: 600;
          opacity: 0;
          animation: fadeUpSoft 1.2s ease forwards;
          animation-timeline: view();
          animation-range: entry 15% entry 55%;
        }
        p {
          font-size: 24px;
          opacity: 0;
          animation: fadeUpSoft 1.3s ease forwards;
          animation-timeline: view();
          animation-range: entry 20% entry 60%;
        }
        button {
          display: flex;
          align-items: center;
          font-size: 24px;
          margin-top: 24px;
          gap: 16px;
          background: var(--button-color);
          color: var(--background-color);
          padding: 12px 24px;
          border-radius: 1000px;
          transition: all 0.2s ease-in-out;
          border: 2px solid var(--background-color);
          opacity: 0;
          animation: fadeUpSoft 1.4s ease forwards;
          animation-timeline: view();
          animation-range: entry 30% entry 70%;

          &:hover {
            background: var(--background-color);
            color: var(--primary-color);
            border: 2px solid var(--primary-color);
          }
        }
      }

      &:nth-child(1) {
        .vectors {
          .decor {
            position: absolute;
            right: 60%;
            top: 200px;
            transform: scaleX(-1) rotate(10deg);
            z-index: -1;
          }
          &::before {
            content: "";
            width: 400px;
            height: 400px;
            background-color: #e4f5fd;
            position: absolute;
            border-radius: 50%;
            z-index: -2;
            bottom: 0px;
          }
          span {
            top: -120px;
          }

          img {
            width: 600px;
          }
        }
      }
      &:nth-child(2) {
        flex-direction: row-reverse;
        .vectors {
          .decor {
            display: none;
          }

          &::before {
            content: "";
            width: 400px;
            height: 400px;
            background-color: #e4f5fd;
            position: absolute;
            border-radius: 50%;
            z-index: -2;
            bottom: 50px;
            right: 50px;
          }
          span {
            top: -120px;
            right: 0;
          }

          img {
            width: 500px;
          }
        }
      }
      &:nth-child(3) {
        .vectors {
          .decor {
            position: absolute;
            right: 70%;
            top: 300px;
            transform: scaleX(-1) scaleY(-1) rotate(10deg);
            z-index: -1;
          }

          &::before {
            content: "";
            width: 400px;
            height: 400px;
            background-color: #e4f5fd;
            position: absolute;
            border-radius: 50%;
            z-index: -2;
            bottom: 50px;
            right: -50px;
          }
          span {
            top: -120px;
          }

          img {
            width: 600px;
          }
        }
      }
    }
  }
}
@keyframes fadeUpSoft {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSideSoft {
  from {
    opacity: 0;
    transform: translateX(-24px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
