.WhatWeDo {
  width: 1440px;
  margin: auto;
  margin-bottom: 240px;

  &::before {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    right: 300px;
    z-index: -1;
    background: var(--secondary-color);
    border-radius: 50%;
    filter: blur(250px);
  }

  .decor {
    position: absolute;
    left: 0;
    transform: scaleX(-1) scaleY(-1);
    z-index: -1;
  }

  // .background {
  //   position: absolute;
  //   width: 100%;
  //   height: 700px;
  //   left: 0;
  //   z-index: -1;
  //   clip-path: polygon(0 0, 100% 0%, 100% 64%, 55% 88%, 0 83%);
  // }

  .content {
    padding: 50px 0px;
    h5 {
      font-size: 24px;
      text-align: center;
    }
    .WhatWeDoCards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 50px;
      gap: 20px;
    }

    .WhatWeDoCard {
      background-color: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 40px;
      transition: all 0.2s linear;
      gap: 20px;
      box-shadow: 0px 12px 55px rgba(0, 0, 0, 0.096);

      &:nth-child(1) {
        .icon {
          background-color: #e4f5fd;
          color: #1960ab;
        }
      }
      &:nth-child(2) {
        .icon {
          background-color: #f8fdef;
          color: #74bc00;
        }
      }
      &:nth-child(3) {
        .icon {
          background-color: #fdeffd;
          color: #d015d0;
        }
      }
      &:nth-child(4) {
        .icon {
          background-color: #fff5ed;
          color: #c45700;
        }
      }

      .icon {
        font-size: 32px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s linear;
        padding: 15px;
      }

      .texts {
        cursor: default;
        .title {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 8px;
        }
        .para {
          font-size: 20px;
          color: #3b3b3b;
        }
      }

      &:hover {
        scale: 1.01;
        box-shadow: 0px 12px 55px rgba(0, 0, 0, 0.2);

        &:nth-child(1) {
          color: #1960ab;
          .icon {
            background-color: #1960ab;
            color: var(--background-color);
          }
        }
        &:nth-child(2) {
          color: #74bc00;
          .icon {
            background-color: #74bc00;
            color: var(--background-color);
          }
        }
        &:nth-child(3) {
          color: #d015d0;
          .icon {
            background-color: #d015d0;
            color: var(--background-color);
          }
        }
        &:nth-child(4) {
          color: #c45700;
          .icon {
            background-color: #c45700;
            color: var(--background-color);
          }
        }
      }
    }
    h4 {
      font-size: 48px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 8px;
    }
  }
}
