.WhoWeAre {
  display: flex;
  align-items: start;
  gap: 48px;
  width: 1440px;
  margin: auto;
  margin-bottom: 240px;

  &::before {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    left: -250px;
    background: var(--secondary-color);
    border-radius: 50%;
    filter: blur(200px);
  }
  .decor {
    position: absolute;
    right: 0;
  }

  .image {
    min-width: 45%;
    position: relative;
    animation: fadeLeft 0.8s ease-out both;
    animation-timeline: view();
    animation-range: entry 25% cover 50%;
    // &::before {
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   //   background: linear-gradient(105deg, #1960ab 50%, #1960ab2d);
    //   background: var(--button-color);
    //   position: absolute;
    //   z-index: -1;
    //   right: -120px;
    //   top: 80px;
    //   border-radius: 150px 0px 0px 100px;
    // }
    img {
      width: 100%;
      border-radius: 24px;
      border-right: 8px solid var(--background-color);
      border-bottom: 8px solid var(--background-color);
    }
  }
  .content {
    animation: fadeRight 0.8s ease-out both;
    animation-timeline: view();
    animation-range: entry 25% cover 45%;

    h3 {
      position: relative;
      font-size: 24px;
      color: var(--secondary-color);
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      animation: fadeUp 0.6s ease-out both;
      animation-timeline: view();
      animation-range: entry 30% cover 50%;

      &::after {
        content: "";
        height: 2px;
        width: 85%;
        left: 0;
        background-color: var(--secondary-color);
        position: absolute;
      }
    }
    .des {
      font-size: 2vw;
      margin-bottom: 24px;
      animation: fadeUp 0.6s ease-out both;
      animation-timeline: view();
      animation-range: entry 35% cover 55%;
    }
    .boxes {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      margin-bottom: 24px;

      .box {
        display: flex;
        align-items: start;
        gap: 16px;
        padding: 16px 0px 16px 16px;
        animation: fadeUp 0.6s ease-out both;
        animation-timeline: view();

        &:nth-child(1) {
          animation-delay: 0.6s;
        }

        &:nth-child(2) {
          animation-delay: 0.75s;
        }
        div {
          .title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 8px;
          }
        }
        .icon {
          background-color: #1960ab2d;
          padding: 16px;
          border-radius: 8px;
          svg {
            font-size: 32px;
            color: var(--primary-color);
          }
        }
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-size: 24px;
      background: var(--button-color);
      color: var(--background-color);
      padding: 8px;
      width: 300px;
      border-radius: 1000px;
      transition: all 0.2s ease-in-out;
      border: 2px solid var(--background-color);

      svg {
        font-size: 32px;
      }
      &:hover {
        gap: 16px;
        background: var(--background-color);
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
      }
    }
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(32px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(-32px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
