footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  margin: auto;
  width: 1440px;

  .top {
    padding: 32px 32px 0px 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 150px;
    }

    a {
      font-size: 20px;
      transition: color 0.2s linear;
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .bottom {
    width: 100%;
    border-top: 1px solid #d1d1d1;
    padding: 48px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    ul {
      display: flex;
      align-items: center;
      gap: 24px;

      svg {
        font-size: 24px;
      }
    }
  }
}
