header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  width: 1440px;
  margin: auto;

  img {
    width: 144px;
  }

  nav {
    ul {
      display: flex;
      gap: 24px;
      align-items: center;

      li {
        transition: all 0.1s linear;
      }

      li:hover {
        color: var(--primary-color);
        font-weight: 700;
        padding-bottom: 4px;
        border-bottom: 2px solid var(--secondary-color);
      }
    }
  }
  button {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 16px;
    background: var(--button-color);
    color: var(--background-color);
    padding: 12px 24px;
    border-radius: 1000px;
    transition: all 0.2s ease-in-out;
    border: 2px solid var(--background-color);

    &:hover {
      background: var(--background-color);
      color: var(--primary-color);
      border: 2px solid var(--primary-color);
    }
  }
}
